<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <targets>
    <target xsi:type="File"
            name="appLog"
            fileName="${basedir}/../../logs/aimemory-api-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=tostring}"
            maxArchiveFiles="7"
            archiveEvery="Day" />

    <target xsi:type="File"
            name="auditLog"
            fileName="${basedir}/../../logs/aimemory-audit-${shortdate}.log"
            layout="${longdate}|${event-properties:item=Endpoint}|${event-properties:item=ClientId}|${event-properties:item=RequestSize}|${message}"
            maxArchiveFiles="7"
            archiveEvery="Day" />

    <target xsi:type="Console"
            name="console"
            layout="${longdate}|${level:uppercase=true}|${logger:shortName=true}|${message}${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="AIMemory.Api.Audit" minlevel="Info" writeTo="auditLog" final="true" />
    <logger name="Microsoft.EntityFrameworkCore.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Info" writeTo="appLog,console" />
  </rules>
</nlog>
